<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--<servlet>-->
        <!--<servlet-name>GetParametes</servlet-name>-->
        <!--<servlet-class>aaa.GetParametes</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>GetParametes</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet>-->
    <!--<servlet-name>TimeForm</servlet-name>-->
    <!--<servlet-class>aaa.TimeForm</servlet-class>-->
<!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>TimeForm</servlet-name>-->
        <!--<url-pattern>/Time</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet>-->
        <!--<servlet-name>indexx</servlet-name>-->
        <!--<servlet-class>aaa.Index</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>indexx</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <servlet-name>SimpleRegistration</servlet-name>
        <servlet-class>aaa.SimpleRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleRegistration</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>aaa.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>json</servlet-name>
        <servlet-class>aaa.ReaponseJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>json</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationWithCookie</servlet-name>
        <servlet-class>aaa.RegistrationWithCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationWithCookie</servlet-name>
        <url-pattern>/RegistrationWithCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationWithSession</servlet-name>
        <servlet-class>aaa.RegistrationWithHttpSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationWithSession</servlet-name>
        <url-pattern>/RegistrationWithSession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>imageContent</servlet-name>
        <servlet-class>aaa.ImageContent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageContent</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>imageContentWithDrawing</servlet-name>
        <servlet-class>aaa.ImageContentWithDrawing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageContentWithDrawing</servlet-name>
        <url-pattern>/ImageDrawing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxRequestServlet</servlet-name>
        <servlet-class>aaa.AjaxTransportation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxRequestServlet</servlet-name>
        <url-pattern>/AjaxRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>aaa.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/indexx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxRequestVideo</servlet-name>
        <servlet-class>aaa.videoPlay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxRequestVideo</servlet-name>
        <url-pattern>/Video</url-pattern>
    </servlet-mapping>
</web-app>